<form 
    id     = "cerad_tourns_register_step1"
    class  = "cerad_tourns_register_step1 s1" 
    action = "{{ path('cerad_tourns_project_register',{ 'slug': project.slug, 'op' : 'step1' }) }}" 
    method = "post" {{ form_enctype(form) }} 
    novalidate
>
    <fieldset><legend><span>Account Information</span></legend>
        {{ form_row(form.fedId)          }}
        {{ form_row(form.email)          }}
        {{ form_row(form.name)           }}
        {{ form_row(form.password.pass1) }}
        {{ form_row(form.password.pass2) }}
    </fieldset>
    <fieldset>
        <div class="controls">
            <span></span>
            <input type="submit" name="registerStep1" value="Create Account" />
        </div>
    </fieldset>
{{ form_rest(form) }}
</form>

