{# @CeradTourns/Welcome/index.html.twig #}
{% extends '@CeradTourns/layout.html.twig' %}

{% block content %}
   
{# ---------------------------
 # Display any error messages
 #}
{% include '@CeradTourns/Welcome/flashes.html.twig' %}

{# ---------------------------
 # List of active tournaments
 #}   
{{ include('@CeradTourns/Welcome/list_public.html.twig', { 'role' : 'user' }) }}

{# ---------------------------
 # Assignor Login
 #}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    User: {{ app.user.username }}
    <a href="{{ path('cerad_tourns_logout') }}">Log Out</a>
{% else %}

<h3>Administrator Log In</h3>

{% if login_error %}
    <div>{{ login_error.message }}</div>
{% endif %}

<form action="{{ path('cerad_tourns_login_check') }}" method="post">
    
    <input type="hidden" name="_csrf_token" value="{{ login_csrf_token }}" />
    
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ login_last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    
    <label for="remember_me">Remember Me</label>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked />

    <button type="submit">Log In</button>
</form>
{% endif %}

{# ---------------------------
 # Assignor Admin stuff
 #}
{% include '@CeradTourns/Welcome/list_assignor.html.twig'%}

{% endblock %}{# end content block #}
