{# @CeradTourns/Register/index.html.twig   #}
{% extends '@CeradTourns/layout.html.twig' %}

{% block content %}
   
<h1>{{ project.desc }}</h1>
<p>You must be at least 14 years old to referee at this tournament.</p>
<p><a href="{{ path('cerad_tourns_project_register',{ 'slug': project.slug, 'op': 'new' }) }}">Start over with a new application</a></p>
{% if msg %}
<p><em>{{ msg }}</em></p>
{% endif %}

<form 
    class="s1" 
    action="{{ path('cerad_tourns_project_register',{ 'slug': project.slug }) }}" 
    method="post" {{ form_enctype(form) }} 
    novalidate
>
    <fieldset><legend><span>Contact Information</span></legend>
        {{ form_row(form.person.name)      }}
        {{ form_row(form.person.firstName) }}
        {{ form_row(form.person.lastName)  }}
        {{ form_row(form.person.nickName)  }}
        {{ form_row(form.person.email)     }}
        {{ form_row(form.person.phone)     }}
        {{ form_row(form.person.city)      }}
        {{ form_row(form.person.state)     }}
        {{ form_row(form.person.gender)    }}
        {{ form_row(form.person.dob)       }}
    </fieldset>
    <fieldset><legend><span>USSF Referee Certification</span></legend>
        {{ form_row(form.ussfId)    }}
        {{ form_row(form.badge)     }}
        {{ form_row(form.orgId)     }}
        {{ form_row(form.upgrading) }}
    </fieldset>
    <fieldset>
        <div class="controls">
            <span>{{ project.submit }}</span>
            <input type="submit" name="tournSubmit" value="Email Application" />
        </div>
    </fieldset>
{{ form_rest(form) }}
</form>


{% endblock %}{# end content block #}
