{# @CeradTourns/PersonPlan/Edit/form.html.twig   #}
<form 
    id     = "cerad_tourns_person_plan"
    class  = "cerad_tourns_person_plan sx" 
    action = "{{ path('cerad_tourns_person_plan',{ 'slug': project.slug, 'id' : plan.id }) }}" 
    method = "post" {{ form_enctype(form) }} 
    novalidate
>
    <fieldset><legend><span>Plans</span></legend>
        {{ form_rest(form) }}
    </fieldset>
    <fieldset>
        <div class="controls">
            <span>{{ project.submit }}<br />
                <a href="{{ path('cerad_tourn_home') }}">Return to List of Tournaments When Done.</a>
            </span>
            <input type="submit" name="personPlanEdit" value="Email Plan" />
        </div>
    </fieldset>
{{ form_rest(form) }}
</form>

