{# @CeradTourns/Person/Update/PersonUpdateForm.html.twig   #}
{{ form_start(form, { 'attr' : { 
   'class' : 'cerad_tourn_person_udpate cerad_common_form1'
}}) }}
    <fieldset><legend><span>Person Information</span></legend>
        {{ form_row(form.personNameFull)  }}
        {{ form_row(form.personNameFirst) }}
        {{ form_row(form.personNameLast)  }}
        {{ form_row(form.personEmail)     }}
        {{ form_row(form.personPhone)     }}
        {{ form_row(form.personAddressCity)  }}
        {{ form_row(form.personAddressState) }}
    </fieldset>
    <fieldset><legend><span>USSF Information</span></legend>
       {{ form_row(form.fedKey) }}
       {{ form_row(form.orgKey) }}
       {{ form_row(form.badge) }}
       {{ form_row(form.upgrading) }}
     </fieldset>
    <fieldset>
        <div class="controls">
            <span><a href="{{ path('cerad_tourn_home') }}">Return to Home When Done</a></span>
            <input type="submit" name="personUpdate" value="Update Person" />
        </div>
    </fieldset>
{{ form_rest(form) }}
{{ form_end (form) }}
